<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>

  <body>
  <div class="container">
    <div class="banner">
      <h1>Activities</h1>
      <h2>Au choix pour votre teambuilding</h2>
    </div>
    <div class="flex space-around">
        <p><a class="btn" href="?location=Paris">Activités à Paris</a></p>
        <p><a class="btn" href="?location=Nantes">Activités à Nantes</a></p>
        <p><a class="btn" href="/">Toutes</a></p>
        <form method="GET" action="/">
          <p>Search by activity name : <input type="text" name="name" value ="<%= @name_searched %>">
          </p>
          <p>Category:
            <select name="category">
              <% @categories.each do |category|%>
                <option value="<%= category%>" <%= "selected" if category == @selected_category %>>
                  <%= category %>
                </option>
              <% end %>
            </select>
          </p>
          <p><input class="btn" type="submit"></p>
        </form>
    </div>
    <div class="cards">
      <% @activities.each do |activity| %>
        <div class="card">
          <h3><%= activity["name"] %></h3>
          <p class="chip"><%= activity["category"].upcase %></p>
          <img src="<%= activity["photo_url"]%>"/>
          <div class="flex center space-between">
            <p><%= activity["city"] %></p>
            <p class="right"><%= activity["price"] %> euros</p>
          </div>
            <p class="flex center"><img class="icon" src="https://cdn.pixabay.com/photo/2015/11/07/11/48/clock-1031503__340.jpg" alt="duration"/><%= activity["duration"] %> minutes</p>
            <p class="flex center"><img class="icon" src="https://cdn.pixabay.com/photo/2015/11/07/11/48/clock-1031503__340.jpg" alt="duration"/><%= activity["participants_count"] %> participants</p>
            <p class="right"><a class="btn" href="activities/<%=activity["id"]%>">View</a></p>
        </div>
      <% end %>
    </div>
  </div>
  </body>
</html>
