<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>

  <body>
  <div class="container">
    <div class="banner">
      <h1>Activities</h1>
      <h2>Au choix pour votre teambuilding</h2>
      <a class="btn" href="?location=Paris">Activités à Paris</a>
      <a class="btn" href="?location=Nantes">Activités à Nantes</a>
      <a class="btn" href="/">Toutes</a>
    </div>
    <div class="cards">
      <% @activities.each do |activity| %>
        <div class="card">
          <h3><%= activity["name"] %></h3>
          <p class="chip"><%= activity["category"].upcase %></p>
          <img src="<%= activity["photo_url"]%>"/>
          <div class="flex center space-between">
            <p><%= activity["city"] %></p>
            <p class="right"><%= activity["price"] %> euros</p>
          </div>
            <p class="flex center"><img class="icon" src="https://cdn.pixabay.com/photo/2015/11/07/11/48/clock-1031503__340.jpg" alt="duration"/><%= activity["duration"] %> minutes</p>
            <p class="flex center"><img class="icon" src="https://cdn.pixabay.com/photo/2015/11/07/11/48/clock-1031503__340.jpg" alt="duration"/><%= activity["participants_count"] %> participants</p>
            <a class="btn" href="activities/<%=activity["id"]%>">View activity full page</a>
        </div>
      <% end %>
    </div>
  </div>
  </body>
</html>
