<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>
  <body>
    <h1>Activities</h1>
    <div class="container">
    <% @activities.each do |activity| %>
    <div class="card">
        <h3>
          <%=  activity["name"] %>
        </h3>
        <p class="chip">
          <%= activity["category"].upcase %>
        </p>
        <p> Durée :
          <%= activity["duration"] %>
        </P>
        <p>
          <%= activity["participants"] %> participants
        </P>
        <p>
          <%= activity["price"] %> euros
        </p>
      </div>
    <% end %>
    </div>
  </body>
</html>
